@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/fonts'as *;

.notation {

    font-size: 4rem;
    position: absolute;
    top: 20%;
    right: 40%;
    z-index: 108;
    @include add-font;
    // width: 10rem;
    // height: 10rem;
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-image: url('../../../public/G.svg');
}