@use '../../styles/partials/mixins'as *;

.octave {


    &__whiteNote {
        background-color: white;
        border: 0.2rem solid rgb(60, 60, 60);
        box-sizing: border-box;
        height: 100%;
        width: 10vw;
        border-radius: 0.5rem;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;

        // &:hover {
        //     background-color: rgb(230, 230, 230);
        // }

        @include tablet {
            width: 15vw;
            height: 100%;
        }

        @include desktop {
            width: 15vw;
            height: 100%;
        }




    }

    &__blackNote {
        background-color: rgb(35, 35, 35);
        height: 70%;
        border-radius: 0.5rem;
        width: 5vw;
        transform: translateX(3.5vw);
        z-index: 105;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;

        // &:hover {
        //     background-color: rgb(43, 43, 43);
        // }



        @include tablet {
            width: 3.8vw;
            transform: translateX(2vw);

        }

        @include desktop {
            width: 1.9vw;
            transform: translateX(1.3vw);


        }
    }
}

// .C0,
// .Db0,
// .C1,
// .Db1,
// .C2,
// .Db2,
// .C3,
// .Db3,
// .C4,
// .Db4,
// .C5,
// .Db5,
// .C6,
// .Db6,
// .C7,
// .Db7 {
//     background-color: rgba(165, 165, 165, 0.812);
// }