@use '../../styles/partials/mixins'as *;

.octave {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    &__name {
        display: flex;
    }

    &__whiteNote {
        background-color: white;
        text-align: center;
        bottom: 1rem;
        color: rgb(190, 190, 190);
        font-size: 0.5rem;
        border: 0.1rem solid rgba(157, 157, 157, 0.582);
        box-sizing: border-box;
        height: 100%;
        width: 7vw;
        border-radius: 0 0 0.5rem 0.5rem;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;



        @include tablet {
            // width: 15vw;
            height: 100%;
        }

        @include desktop {
            // width: 15vw;
            height: 100%;
        }




    }

    &__blackNote {
        background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(108, 108, 108, 1) 10%, rgba(19, 19, 19, 1) 18%, rgba(52, 52, 52, 1) 100%);
        height: 70%;
        border-radius: 0 0 0.5rem 0.5rem;
        width: 5vw;
        transform: translate(3.2vw, -5vw);
        z-index: 105;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        transition: all 1s ease-in-out;

        @include tablet {
            width: 3.6vw;
            transform: translate(4.1vw, -2.1vh);

        }

        @include desktop {
            width: 1.7vw;
            transform: translate(1.3vw, -2vh);


        }
    }
}

//flats
.D0,
.Db0,
.Db1,
.Db2,
.Db3,
.Db4,
.Db5,
.Db6,
.Db7,
.Eb0,
.Eb1,
.Eb2,
.Eb3,
.Eb4,
.Eb5,
.Eb6,
.Eb7,
.Gb0,
.Gb1,
.Gb2,
.Gb3,
.Gb4,
.Gb5,
.Gb6,
.Gb7,
.Ab0,
.Ab1,
.Ab2,
.Ab3,
.Ab4,
.Ab5,
.Ab6,
.Ab7,
.Bb0,
.Bb1,
.Bb2,
.Bb3,
.Bb4,
.Bb5,
.Bb6,
.Bb7 {
    &--active {
        background-color: rgb(59, 59, 59);
        transform: translate(3.2vw, -3.5vw);

        @include tablet {
            transform: translate(4.1vw, -1.2vh);
        }

        @include desktop {

            transform: translate(1.3vw, -1.1vh);
        }

    }

}

// white keys
.D1,
.D2,
.D3,
.D4,
.D5,
.D6,
.D7,
.C0,
.C1,
.C2,
.C3,
.C4,
.C5,
.C6,
.C7,
.D0,
.D1,
.D2,
.D3,
.D4,
.D5,
.D6,
.D7,
.E0,
.E1,
.E2,
.E3,
.E4,
.E5,
.E6,
.E7,
.F0,
.F1,
.F2,
.F3,
.F4,
.F5,
.F6,
.F7,
.G0,
.G1,
.G2,
.G3,
.G4,
.G5,
.G6,
.G7,
.A0,
.A1,
.A2,
.A3,
.A4,
.A5,
.A6,
.A7,
.B0,
.B1,
.B2,
.B3,
.B4,
.B5,
.B6,
.B7 {
    &--active {
        background-color: rgb(221, 221, 221);
    }
}