@use '../../styles/partials/mixins'as *;

.octave {


    &__whiteNote {
        background-color: white;
        border: 0.2rem solid rgb(60, 60, 60);
        box-sizing: border-box;
        height: 100%;
        width: 10vw;
        border-radius: 0.5rem;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;

        // &--active {
        //     background-color: rgb(230, 230, 230);
        // }

        @include tablet {
            width: 15vw;
            height: 100%;
        }

        @include desktop {
            width: 15vw;
            height: 100%;
        }




    }

    &__blackNote {
        background-color: rgb(35, 35, 35);
        height: 70%;
        border-radius: 0.5rem;
        width: 5vw;
        transform: translateX(3.5vw);
        z-index: 105;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;

        // &:hover {
        //     background-color: rgb(43, 43, 43);
        // }



        @include tablet {
            width: 3.8vw;
            transform: translateX(2vw);

        }

        @include desktop {
            width: 1.9vw;
            transform: translateX(1.3vw);


        }
    }
}

.D0,
.Db0,
.Db1,
.Db2,
.Db3,
.Db4,
.Db5,
.Db6,
.Db7,
.Eb0,
.Eb1,
.Eb2,
.Eb3,
.Eb4,
.Eb5,
.Eb6,
.Eb7,
.Gb0,
.Gb1,
.Gb2,
.Gb3,
.Gb4,
.Gb5,
.Gb6,
.Gb7,
.Ab0,
.Ab1,
.Ab2,
.Ab3,
.Ab4,
.Ab5,
.Ab6,
.Ab7,
.Bb0,
.Bb1,
.Bb2,
.Bb3,
.Bb4,
.Bb5,
.Bb6,
.Bb7 {
    &--active {
        background-color: rgb(59, 59, 59);
    }

}

.D1,
.D2,
.D3,
.D4,
.D5,
.D6,
.D7,
.C0,
.C1,
.C2,
.C3,
.C4,
.C5,
.C6,
.C7,
.D0,
.D1,
.D2,
.D3,
.D4,
.D5,
.D6,
.D7,
.E0,
.E1,
.E2,
.E3,
.E4,
.E5,
.E6,
.E7,
.F0,
.F1,
.F2,
.F3,
.F4,
.F5,
.F6,
.F7,
.G0,
.G1,
.G2,
.G3,
.G4,
.G5,
.G6,
.G7,
.A0,
.A1,
.A2,
.A3,
.A4,
.A5,
.A6,
.A7,
.B0,
.B1,
.B2,
.B3,
.B4,
.B5,
.B6,
.B7 {
    &--active {
        background-color: rgb(221, 221, 221);
    }
}