.octave {


    &__whiteNote {
        background-color: white;
        border-right: 0.1vmin solid black;
        box-sizing: border-box;
        height: 100%;
        width: 5vmin;


    }

    &__blackNote {
        background-color: black;
        height: 70%;
        width: 2.8vmin;
        transform: translateX(3.2vmin);
        z-index: 105;


    }
}