@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/fonts'as *;

.header {
    position: absolute;
    top: 1px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.833);
    width: 96vw;
    height: 96vh;
    margin: 2vw;
    box-sizing: border-box;
    border-radius: 2rem;

    &__logo {
        width: 3rem;
        height: 3rem;
    }

    &__main {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        @include add-font;
    }
}