@use '../../styles/partials/mixins'as *;

.piano {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5vh;
    width: 96vw;
    height: 25vh;
    display: flex;
    flex-direction: row;

    @include tablet {}


}