.piano {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.2rem solid black;
    width: 96vmin;
    height: 33vmin;
    display: flex;
    flex-direction: row;
}