@use '../../styles/partials/mixins'as *;

.piano {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 14vh;
    width: 90vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    z-index: 106;
    overflow-x: scroll;
    // scroll-padding: 1rem;
    border-top: 0.2rem solid rgb(197, 0, 0);

    @include tablet {
        border-top: 0.5rem solid rgb(197, 0, 0);
    }


}