.piano {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10vh;
    border: 0.2rem solid black;
    width: 96vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
}