.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
    .piano-note {

        animation: piano-spin infinite 300s linear;
    }
}

@keyframes piano-spin {
    0% {
        transform: rotate(0deg) scale(3);

    }

    50% {
        transform: rotate(360deg) scale(0.5);
    }

    100% {
        transform: rotate(0deg) scale(3);
    }





}